*{
    --detalhe: #aa1409;
    --erro-validation: #950707;
}


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
    border: none;
}

input, label {
    display: block;
    width: 100%;
    outline: 100%;
}


a {
    color: #d3250e;
}

body {
    padding-top: 16vh;
    background-image: url('../images/educacao.jpeg');
    background-size: cover;
    background-position-y: -150px;
}

/*formulario*/

#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 25px;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.full-box {
    flex: 1 1 100%;
    position: relative;
}


.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom:  2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

inpu:focus {
    border-color: var(--detalhe);
}

input[type="submit"] {
    background-color: var(--detalhe);
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

#agreement{
    margin-right: 5px;
}

#agreement, agreement-label {
    display: inline-block;
    width: auto;
}

/*validação*/

.error-validation {
    color: var(--erro-validation);
    position: absolute;
    top: 57px;
    font-size: 12px;
}

#template {
    display: none;
}